include includes/mixins
include includes/data

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Gulp Pug Dashboard
        link(rel="stylesheet" href="styles.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap")

    body
        #app
            button#burger-menu
                img(src="burger.svg")
            aside.aside
                .aside__top
                    header.aside__logo
                        img(src="logo.svg").logo__img
                        .logo__text
                            span.logo__name Dashboard
                            span.logo__version v.01
                    nav.aside__nav
                        +navItem("dashboard.svg", "Dashboard", "#", false, true)
                        +navItem("product.svg", "Product", "#")
                        +navItem("customers.svg", "Customers", "#", true)
                        +navItem("income.svg", "Income", "#")
                        +navItem("promote.svg", "Promote", "#")
                        +navItem("help.svg", "Help", "#")
                footer.aside-footer.user
                    img(src=loggedUser.image).user__photo
                    .user__info
                        .user__name=loggedUser.name
                        .user__position=loggedUser.position

            main.main
                .greetings Hello #{loggedUser.name} 👋🏼,
                .customers
                    header.customers__header
                        .header__text
                            h1 All Customers
                            button Active Members
                        label.customers__search
                            img(src="search-icon.svg")
                            input(type="search" placeholder="Search")
                    .customers__table-wrapper
                        table(cellspacing="0" cellpadding="0").customers__table
                            thead
                                tr
                                    th Customer Name
                                    th Company
                                    th Phone Number
                                    th Email
                                    th Country
                                    th Status
                            tbody
                                each tdData in tableData
                                    +tableItem(tdData)
                    footer.customers__footer
                        .customers__caption
                            .customers__caption__full Showing data 1 to 8 of  256K entries
                            .customers__caption__short 1-8 of 256K
                        .customers__pagination
                            button.pagination__btn <
                            button.pagination__btn.pagination__btn__active 1
                            button.pagination__btn 2
                            button.pagination__btn 3
                            button.pagination__btn 4
                            .pagination__spacing ...
                            button.pagination__btn 40
                            button.pagination__btn >

        script(src="script.min.js")
        script SVGInject(document.querySelectorAll('img[src$=".svg" i]'));